
/* ===== must added this css and font ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* ===== common CSS ===== */
nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

.btn{
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover{
    background-color: midnightblue;
    color: white;
}


/* ===== navber realated CSS ===== */
header .navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

header .navber .click a{
    margin-right: 32px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

header .navber .click a:hover{
    background-color: rgb(191, 191, 192);
}


/* ===== banner realated CSS ===== */
header .banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 16px;
}

.banner .banner-content{
    text-align: center;
    padding-top: 115px;
    padding-bottom: 180px;
}

.banner .banner-content .btn-early{
    padding: 8px 12px;
    color: #469165;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    cursor: pointer;
}

.banner .banner-content .btn-early:hover{
    color: white;
    background-color: midnightblue;
}

.banner .banner-content h1{
    color: #30B868;
    opacity: 90%;
    font-size: 72px;
    font-weight: bold;
}

.banner .banner-content .white-h{
    color: white;
}

.banner .banner-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin-top: 16px;
    margin-bottom: 32px;
}

.banner-content .twoin-btn button{
    margin-right: 16px;
}

.twoin-btn #remove-btn-bg{
    background-color: transparent;
    border: 1px solid white;
}

.twoin-btn #remove-btn-bg:hover{
    color: chartreuse;
}